*{
    margin: 0;
    padding: 0;
}
.mainContainer{
    margin:0 auto;
    width: 90%;
    height: 100vh;
}
.mainContainer h1{
    font-weight: lighter;
    font-size: 50px;
    color: #FF4D00;
    text-align: center;
    user-select: none;
    margin: 200px 0px 110px 0px;
}

@media (max-width:450px) {
    .mainContainer h1{
        font-weight: lighter;
        font-size: 30px;
        color: #FF4D00;
        text-align: center;
        user-select: none;
        margin: 100px 0px;
    }

}

@media (max-width:740px) {
    .mainContainer h1{
        font-weight: lighter;
        font-size: 50px;
        color: #FF4D00;
        text-align: center;
        user-select: none;
        margin: 100px 0px;
    }

}

