.gate{
    background-color: rgb(191, 191, 191);
    width: 97px;
    height: 97px;
    margin: 0;
    padding: 0;
}

.building{
    background-color: rgb(191, 191, 191);
    width: 60px;
    height: 178px;
    margin: 0;
    padding: 0;
}
.SR-buildingContainer, .SG-buildingContainer, .SM-buildingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-left{
    display: flex;
    flex-direction: row;
}

.buildingContainer{
    margin: 0 auto;
    width: 647px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    transform: scale(1);
}

.SM-buildingContainer{
    transform: rotate(-90deg);
    transform-origin: top;
    position: absolute;
    margin-left: -47.8px;
    margin-top: 45px;
}

@media (max-width:1600px) {
    .buildingContainer{
        transform: scale(0.7);
    }
}

@media  (max-width:800px) {
    .buildingContainer{
        transform: scale(0.5);
    }

}