.map-right{
margin-left: 200px;
}

.chooseBuilding, .chooseFloor, .chooseRoom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:1600px) {
    .map-right{
        margin-left: 0px;
        }
}