.cardContainer {
    margin-top: 20px;
    border-color: transparent;
}
.displayContainer{
    margin-top: 100px;
}
.displayContainer a {
    text-decoration: none;
    color: white;
}
.card{
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-color: transparent;
    background-color: #f34343;
    border-radius: 10px;
}

.card i{
    color: white;
    font-size: 30px;
}

.card p{
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 0px 20px;
}